@import './leaf/leaf';
@import 'bourbon/bourbon';

body {
    font-size: 32px;
}

img {
    max-width: 100%;
}

#nestedScrollV {
    height: 200px;
}

#horizontalScroll {
    height: 40px;
    color: goldenrod;
}

