@charset "UTF-8";

@font-face {
  font-family: 'ptwx';
  src:url('fonts/ptwx.eot?hoaffe');
  src:url('fonts/ptwx.eot?#iefixhoaffe') format('embedded-opentype'),
    url('fonts/ptwx.ttf?hoaffe') format('truetype'),
    url('fonts/ptwx.woff?hoaffe') format('woff'),
    url('fonts/ptwx.svg?hoaffe#ptwx') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-iconfont]:before {
  font-family: "ptwx" !important;
  content: attr(data-iconfont);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

[class^="iconfont-"]:before,
[class*=" iconfont-"]:before {
  font-family: "ptwx" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

$iconfont-picture: "\e61b";
.iconfont-picture:before{content:$iconfont-picture}
$iconfont-emptyStar: "\e61c";
.iconfont-emptyStar:before{content:$iconfont-emptyStar}
$iconfont-star: "\e61d";
.iconfont-star:before{content:$iconfont-star}
$iconfont-shop: "\e61e";
.iconfont-shop:before{content:$iconfont-shop}
$iconfont-commentCheck: "\e61f";
.iconfont-commentCheck:before{content:$iconfont-commentCheck}
$iconfont-infor: "\e620";
.iconfont-infor:before{content:$iconfont-infor}
$iconfont-telephone: "\e61a";
.iconfont-telephone:before{content:$iconfont-telephone}
$iconfont-comment: "\e619";
.iconfont-comment:before{content:$iconfont-comment}
$iconfont-emptyCart: "\e618";
.iconfont-emptyCart:before{content:$iconfont-emptyCart}
$iconfont-minus: "\e617";
.iconfont-minus:before{content:$iconfont-minus}
$iconfont-plus: "\e616";
.iconfont-plus:before{content:$iconfont-plus}
$iconfont-head: "\e610";
.iconfont-head:before{content:$iconfont-head}
$iconfont-compete: "\e611";
.iconfont-compete:before{content:$iconfont-compete}
$iconfont-contract: "\e612";
.iconfont-contract:before{content:$iconfont-contract}
$iconfont-exit: "\e613";
.iconfont-exit:before{content:$iconfont-exit}
$iconfont-id: "\e614";
.iconfont-id:before{content:$iconfont-id}
$iconfont-message: "\e615";
.iconfont-message:before{content:$iconfont-message}
$iconfont-injector: "\e60f";
.iconfont-injector:before{content:$iconfont-injector}
$iconfont-search: "\e60e";
.iconfont-search:before{content:$iconfont-search}
$iconfont-xinfeng: "\e60d";
.iconfont-xinfeng:before{content:$iconfont-xinfeng}
$iconfont-dagou: "\e600";
.iconfont-dagou:before{content:$iconfont-dagou}
$iconfont-fenlei: "\e601";
.iconfont-fenlei:before{content:$iconfont-fenlei}
$iconfont-hot: "\e602";
.iconfont-hot:before{content:$iconfont-hot}
$iconfont-microscope: "\e603";
.iconfont-microscope:before{content:$iconfont-microscope}
$iconfont-new: "\e604";
.iconfont-new:before{content:$iconfont-new}
$iconfont-paimai: "\e605";
.iconfont-paimai:before{content:$iconfont-paimai}
$iconfont-ren: "\e606";
.iconfont-ren:before{content:$iconfont-ren}
$iconfont-shijian: "\e607";
.iconfont-shijian:before{content:$iconfont-shijian}
$iconfont-shopcar: "\e608";
.iconfont-shopcar:before{content:$iconfont-shopcar}
$iconfont-shouye: "\e609";
.iconfont-shouye:before{content:$iconfont-shouye}
$iconfont-xinwen: "\e60a";
.iconfont-xinwen:before{content:$iconfont-xinwen}
$iconfont-yaoding: "\e60b";
.iconfont-yaoding:before{content:$iconfont-yaoding}
$iconfont-yaowan: "\e60c";
.iconfont-yaowan:before{content:$iconfont-yaowan}
