<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Leaf-angular</title>
        <link href="css/global.css" rel="stylesheet" type="text/css" media="all">
        <!--<link href="css/home.css" rel="stylesheet" type="text/css" media="all">-->
        <script src="js/leaf.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
    </head>
    <body ng-app="ptwx">
        <leaf-wrapper ng-controller="homeCtrl">
            <leaf-header><div leaf-sidebar-toggle>Leaf-angular</div></leaf-header>
            <leaf-content pull-load='{"load": "load", "distance": 80, "pullText": "上拉刷新", "releaseText": "松开立即刷新"}'>
                <leaf-tab id="homeTab" current>
                    <p ng-click="showActions()">
                        Author: maple-leaf,
                        Email: tjfdfs@gmail.com
                    </p>
                </leaf-tab>
                <leaf-tab id="formTab">
                    <form name="formDemo" id="formTab">
                        <leaf-select options="{{ sampleOptions }}" name="sampleSelect" ng-model="sampleSelect" required ng-change="testChange(newValue, oldValue)"></leaf-select>
                        <input type="number" ng-model="text" required min="3" max="100" placeholder="min 3, max 100">
                        <leaf-datepicker ng-model="date"></leaf-datepicker>
                        <leaf-toggle ng-model="state" label="Toggle the state"></leaf-toggle>
                        <leaf-radio ng-model="sex" required>
                            <label class="radio"><input type="radio" name="sex" value="M">男</label>
                            <label class="radio"><input type="radio" name="sex" value="F">女</label>
                        </leaf-radio>
                        <leaf-radio radios="cities" ng-model="city" horizontal required></leaf-radio>
                        <leaf-checkbox ng-model="selectedHobbies" required>
                            <label class="checkbox"><input type="checkbox" name="hobby" value="basketball" required>篮球</label>
                            <label class="checkbox"><input type="checkbox" name="hobby" value="ping-pong" required>乒乓球</label>
                            <label class="checkbox"><input type="checkbox" name="hobby" value="swim" required>游泳</label>
                        </leaf-checkbox>
                        <leaf-checkbox checkboxes="langs" ng-model="selectedLang" horizontal required></leaf-checkbox>
                        <div>Adipisicing voluptate fugit assumenda quaerat debitis. Illo amet reprehenderit assumenda optio officiis. Molestiae impedit libero ipsam impedit hic in sapiente. Quis vitae modi laboriosam dignissimos vitae. Facere a odio minima adipisicing doloribus. Saepe labore similique recusandae repellendus suscipit at qui neque ipsa? Obcaecati dolorum deserunt eum nisi blanditiis aperiam! Rerum nesciunt voluptatibus ut fugiat facere dolorem repellat! Voluptatibus earum quasi.</div>
                    </form>
                </leaf-tab>
                <leaf-tab id="sliderTab">
                    <leaf-slider id="demoSlider">
                        <img src="images/maple.jpg">
                        <img src="images/maple.jpg">
                        <img src="images/maple.jpg">
                    </leaf-slider>
                    <leaf-slider id="textSlider">
                        <div>slider 1</div>
                        <div>slider 2</div>
                        <div>slider 3</div>
                    </leaf-slider>
                </leaf-tab>
                <leaf-tab id="infiniteTab">
                    <div ng-repeat="t in test">{{ t.country }}</div>
                </leaf-tab>
                <leaf-tab id="nestedScrollTab">
                    <leaf-scroll id="nestedScrollV">
                        <div>Ipsum quo temporibus quas minus iusto qui rem! Ipsum nihil eaque nobis earum natus accusantium eos, labore tenetur, aliquid id placeat. Sed error animi asperiores esse dignissimos sapiente quasi ut.</div>
                        <div>Ipsum quo temporibus quas minus iusto qui rem! Ipsum nihil eaque nobis earum natus accusantium eos, labore tenetur, aliquid id placeat. Sed error animi asperiores esse dignissimos sapiente quasi ut.</div>
                        <div>Ipsum quo temporibus quas minus iusto qui rem! Ipsum nihil eaque nobis earum natus accusantium eos, labore tenetur, aliquid id placeat. Sed error animi asperiores esse dignissimos sapiente quasi ut.</div>
                    </leaf-scroll>
                    <leaf-scroll horizontal id="horizontalScroll">
                        <div>Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0</div>
                    </leaf-scroll>
                        <div>Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0</div>
                        <div>Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0Elit aperiam ut ullam lorem consequuntur rerum nesciunt tempora expedita voluptatum atque, eum consequuntur maxime ad inventore provident inventore. Amet omnis quasi incidunt commodi sint. Debitis ipsa ut quidem quod. Amet maxime.0</div>
                </leaf-tab>
            </leaf-content>
            <leaf-sidebar>
                <div>xxx</div>
                <div ng-click="$hideSidebar()">hide</div>
            </leaf-sidebar>
            <leaf-sidebar right id="s1">
                <div>right</div>
                <div ng-click="$hideSidebar()">hide</div>
            </leaf-sidebar>
            <leaf-footer>
                <leaf-tabs-nav>
                    <a href="#homeTab">Home</a>
                    <a href="#formTab">Form</a>
                    <a href="#sliderTab">Slider</a>
                    <a href="#infiniteTab">Infinite-loading</a>
                    <a href="#nestedScrollTab">Nested-scroll</a>
                </leaf-tabs-nav>
            </leaf-footer>
        </leaf-wrapper>
    </body>
</html>
