<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>leaf-ui</title>
        <meta content="telephone=no,email=no" name="format-detection">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=0.4, user-scalable=no">
        <link href="css/leaf/leaf.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/home.css" rel="stylesheet" type="text/css" media="all">
    </head>
    <body ng-app="leafDemo" ng-cloak>
        <leaf-wrapper ng-controller="homeCtrl">
            <leaf-header>
                <span class="fa fa-leaf" leaf-sidebar-toggle></span>
                <!-- <input type="search" name="search" placeholder="search"> -->
                <span class="title">Leaf-angular UI Framework</span>
                <a href="mailto:tangjf.88@163.com" class="fa fa-envelope"></a>
            </leaf-header>
            <leaf-content offset="-80" pull-load='{"load": "loadMore"}'>
                <leaf-slider id="homeSlider">
                    <img src="images/maple.jpg">
                    <img src="images/maple.jpg">
                    <img src="images/maple.jpg">
                </leaf-slider>
                <ul class="nav page-block">
                    <li><a href="#"><span class="circle"><span class="fa fa-leaf"></span></span>leaf</a></li>
                    <li><a href="#"><span class="circle"><span class="fa fa-mobile"></span></span>framework</a></li>
                    <li><a href="#"><span class="circle"><span class="fa fa-angle-right"></span></span>by</a></li>
                    <li><a href="#"><span class="circle"><span class="fa fa-github"></span></span>maple-leaf</a></li>
                </ul>
                </div>
                <div class="page-block">
                    <div class="title-bar"><span class="fa fa-qrcode"></span><span>View the demo on mobile by scanning qrcode below</span></div>
                    <div class="block-content">
                      <img src="images/github-gh-page-qrcode.png" alt="http://maple-leaf.github.io/leaf-angular/">
                        <leaf-radio radios="radios" ng-model="radio"></leaf-radio>
                        <leaf-datepicker ng-model="date"></leaf-datepicker>
                    </div>
                </div>
            </leaf-content>
            <leaf-sidebar>
                <h2>Leaf-angular Framework</h2>
                <ul class="list">
                    <li><a href="#"><span class="fa fa-tags"></span><span>Based on Angularjs</span></a></li>
                    <li><a href="#"><span class="fa fa-tags"></span><span>Author: maple-leaf</span></a></li>
                    <li><a href="#"><span class="fa fa-tags"></span><span>Email: tjfdfs@gmail.com<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tangjf.88@163.com</span></a></li>
                </ul>
                <div class="github"><a href="https://github.com/maple-leaf/leaf-angular"><span class="fa fa-github"></span><span>star/fork me on github</span></a></div>
            </leaf-sidebar>
            <leaf-footer>
                <nav>
                    <a href="index.html" class="current"><span class="fa fa-home"></span><span class="text">Home</span></a>
                    <a href="category.html"><span class="fa fa-list"></span><span class="text">Category</span></a>
                    <a href="about.html"><span class="fa fa-user"></span><span class="text">About</span></a>
                </nav>
            </leaf-footer>
        </leaf-wrapper>
        <script src="js/leaf.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        <script type="text/javascript">
            leafDemo.value('model', {
                // products: [
                //     {
                //         id: 1,
                //         img: "images/maple.jpg",
                //         name: "Name name name title",
                //         price: 1314
                //     },
                //     {
                //         id: 2,
                //         img: "images/maple.jpg",
                //         name: "Name name name title",
                //         price: 520
                //     }
                // ],
                // hots: [
                //     {
                //         id: 1,
                //         img: "images/maple.jpg",
                //         name: "Name name name title",
                //         price: 1314
                //     },
                //     {
                //         id: 2,
                //         img: "images/maple.jpg",
                //         name: "Name name name title",
                //         price: 520
                //     }
                // ]
            });
        </script>
        <script src="js/test.js" type="text/javascript"></script>
    </body>
</html>
