@import  '../bourbon/bourbon';
@import  'variables';

input[type="number"], input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $border-color;
    height: $input-height;
    line-height: $input-height;
    color: $input-color;
    @include placeholder{
        color: $input-placeholder-color;
    }
}

input[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.leaf-toggle-wrapper {
    padding-right: 20%;
    position: relative;
    line-height: $input-height;
    .leaf-toggle-label {
        line-height: 1.2;
        vertical-align: middle;
    }
    .leaf-toggle-toggler {
        display: block;
        position: absolute;
        top: 10px;
        right: 2%;
        border: 1px solid $border-color;
        border-radius: 10px;
        width: 64px;
        padding: .5%;
        font-size: 0;
        line-height: 1;
        -webkit-box-shadow: 1px 1px 1px #ddd inset;
        box-shadow: 1px 1px 1px #ddd inset;
        &.actived {
            background-color: #4D9EDC;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;
            .leaf-toggle-spinner {
                -webkit-transform: translate3d(32px, 0, 0);
                transform: translate3d(32px, 0, 0);
                -webkit-transition: -webkit-transform .1s linear;
                transition: transform .1s linear;
            }
        }
    }
    .leaf-toggle-spinner {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: #fff;
        border: 1px solid $border-color;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform .1s linear;
        transition: transform .1s linear;
    }
}

leaf-select, leaf-radio, leaf-checkbox, leaf-toggle, leaf-datepicker {
    display: block;
}

.leaf-radio-wrapper {
    @include clearfix;
    .radio {
        position: relative;
        display: block;
    }
    &.horizontal {
        .radio {
            float: left;
            margin-right: 15px;
        }
        .fa-check-circle-o {
            display: none;
        }
        .checked {
            .fa-check-circle-o {
                display: inline-block;
            }
            .fa-circle-o {
                display: none;
            }
        }
    }
    input[type="radio"] {
        display: none;
    }
    .fa {
        width: 35px;
    }
    .fa-check {
        opacity: 0;
    }
    .checked {
        .fa-check {
            opacity: 1;
        }
    }
    .radio-text {
        vertical-align: middle;
    }
}

.leaf-checkbox-wrapper {
    @include clearfix;
    .checkbox {
        position: relative;
        display: block;
    }
    &.horizontal {
        .checkbox {
            float: left;
            margin-right: 15px;
        }
        .fa-check-square-o {
            display: none;
        }
        .checked {
            .fa-check-square-o {
                display: inline-block;
            }
            .fa-square-o {
                display: none;
            }
        }
    }
    input[type="checkbox"] {
        display: none;
    }
    .fa {
        width: 35px;
    }
    .fa-check {
        opacity: 0;
    }
    .checked {
        .fa-check {
            opacity: 1;
        }
    }
    .checkbox-text {
        vertical-align: middle;
    }
}

.leaf-datepicker-popup {
    .leaf-popup-content {
        @include clearfix;
        text-align: center;
        padding: 0 2%;
    }
    .list {
        height: 390px;
        width: 16%;
        float: left;
    }
    .text {
        line-height: 390px;;
        text-transform: capitalize;
    }
    .item {
        line-height: 78px;
    }
    .picked {
        color: #3fab6d;
    }
}
