@import 'variables';
@import '../bourbon/bourbon';

.leaf-action-sheet {
    display: block;
    overflow: hidden;
    .leaf-popup {
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: $actionsheet-btn-gap;
        display: block;
        @include animation(slideUp $animation-duration ease-in);
    }
    .leaf-popup-inner {
        border: none;
        background-color: transparent;
    }
    .leaf-btn {
        display: block;
        padding: 10px 0;
        border: 1px solid $border-color;
        margin-top: $actionsheet-btn-gap;
    }
}

@include keyframes(slideUp) {
    from {
        @include transform(translate(0, 100%) translateZ(0));
    }
    to {
        @include transform(translate(0, 0) translateZ(0));
    }
}
