@import  '../bourbon/bourbon';
@import  'variables';

html {
    font-size: $basefont-size;
    font-family: $basefont;
}

body {
    font-size: 2rem;
}

leaf-wrapper, leaf-content {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

leaf-sidebar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    @include transform(translate(-100%, 0) translateZ(0));
    @include transition(transform $sidebar-transition-duration $sidebar-transition-function);
    .leaf-sidebar-wrapper {
        width: $sidebar-width;
        height: 100%;
        overflow: hidden;
        background: $sidebar-bg;
        position: relative;
        z-index: 10;
        display: inline-block;
        vertical-align: top;
    }
    &.right-side {
        @include transform(translate(100%, 0) translateZ(0));
        text-align: right;
        .leaf-sidebar-wrapper {
            text-align: left;
        }
    }
    .leaf-sidebar-toggler {
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.3);
        opacity: 0;
        @include transition(opacity $sidebar-toggler-transition-duration $sidebar-toggler-transition-function 0);
    }
    &.show-sidebar {
        @include transform(translate(0, 0) translateZ(0));
        .leaf-sidebar-toggler {
            opacity: 1;
            @include transition(opacity $sidebar-toggler-transition-duration $sidebar-toggler-transition-function $sidebar-transition-duration);
        }
    }
}

.has-header leaf-content {
    top: 60px;
}

.has-footer {
    leaf-content {
        bottom: 60px;
    }
}

leaf-header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
}

leaf-footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.leaf-content-wrapper {
    min-height: 100%;
}
