@import  'variables';

html {
    font-size: $basefont-size;
    font-family: $basefont;
}

body {
    font-size: 2rem;
}

leaf-wrapper, leaf-content {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.has-header leaf-content {
    top: 60px;
}

.has-footer {
    leaf-content {
        bottom: 60px;
    }
}

leaf-header {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
}

leaf-footer {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.leaf-content-wrapper {
    min-height: 100%;
}
