// TODO: chinese font
$basefont: Arial, SimHei, "黑体";
$basefont-size: 16px;
$border-color: #e6e6e6;
$animation-duration: .2s;

/* Sidebar */
$sidebar-width: 120px;
$sidebar-bg: #fff;
$sidebar-transition-duration: $animation-duration;
$sidebar-transition-function: linear;
$sidebar-toggler-transition-duration: .1s;
$sidebar-toggler-transition-function: linear;

/* Form */
$input-height: 48px;
$input-color: #000;
$input-placeholder-color: #ddd;

/* ActionSheet */
$actionsheet-btn-gap: 15px;
