/*@import 'partials/iconfont';*/
/*$icon-sprite-dimensions: true; // generate dimension when compass compile sprite*/
/*@import 'partials/icon';*/
/* line 7, ../../scss/_global.scss */
html {
  font-size: 40px;
}

/* line 11, ../../scss/_global.scss */
body {
  color: #333;
  font-size: 0.6rem;
  line-height: 1;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "SimHei";
}

/* line 20, ../../scss/_global.scss */
a {
  text-decoration: none;
}

/* line 24, ../../scss/_global.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
}

/* line 30, ../../scss/_global.scss */
.icon-circle-check {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
}
/* line 37, ../../scss/_global.scss */
.icon-circle-check.checked:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  left: .15rem;
  top: .15rem;
}

/* line 49, ../../scss/_global.scss */
.btn {
  border: none;
  font-size: 0.85rem;
  color: #fff;
  line-height: 2.2rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  text-decoration: none;
}
/* line 59, ../../scss/_global.scss */
.btn.btn-green {
  background-color: #3fac6e;
}
/* line 62, ../../scss/_global.scss */
.btn.btn-danger {
  background-color: #e52518;
}
/* line 65, ../../scss/_global.scss */
.btn.btn-orange {
  background-color: #ff6529;
}
/* line 68, ../../scss/_global.scss */
.btn.btn-grey {
  background-color: #f8dfc3;
  color: #9d8e7c;
}

/* line 74, ../../scss/_global.scss */
.flr {
  float: right;
}

/* line 78, ../../scss/_global.scss */
.img {
  text-align: center;
}
/* line 80, ../../scss/_global.scss */
.img img {
  max-width: 100%;
  max-height: 100%;
}

/* line 86, ../../scss/_global.scss */
span.text {
  vertical-align: middle;
}

/* line 90, ../../scss/_global.scss */
input[type="text"], input[type="number"], input[type="password"],
input[type="tel"], input[type="search"] {
  padding-left: 0.3rem;
  color: #333;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder, input[type="search"]:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder {
  color: #999;
}

/* line 99, ../../scss/_global.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 105, ../../scss/_global.scss */
textarea {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  padding-left: .3rem;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea:-ms-input-placeholder {
  color: #999;
}

/* line 116, ../../scss/_global.scss */
.form .field {
  margin-bottom: 0.45rem;
  font-size: 0.75rem;
}
/* line 120, ../../scss/_global.scss */
.form input[type="text"], .form input[type="number"], .form input[type="password"], .form input[type="tel"], .form input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 0.75rem;
  padding-left: 0.6rem;
}
/* line 129, ../../scss/_global.scss */
.form .leaf-select-wrapper {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 0 .6rem;
  border: 1px solid #ccc;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #333;
  font-size: 0.75rem;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
}
/* line 144, ../../scss/_global.scss */
.form .leaf-select-wrapper:after {
  content: "\f0d7";
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: .6rem;
  top: 0;
  font-size: 1.4rem;
  line-height: inherit;
  color: #999;
}
/* line 160, ../../scss/_global.scss */
.form textarea {
  resize: none;
  border: 1px solid #ccc;
  padding: 0.6rem;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea:-ms-input-placeholder {
  color: #999;
}
/* line 20, ../../scss/bourbon/addons/_clearfix.scss */
.form .code::after {
  clear: both;
  content: "";
  display: table;
}
/* line 173, ../../scss/_global.scss */
.form .code input {
  width: 40.9884%;
  float: left;
}
/* line 177, ../../scss/_global.scss */
.form .code .send {
  width: 54.5058%;
  float: right;
  background-color: #666;
  text-align: center;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #fff;
}
/* line 185, ../../scss/_global.scss */
.form .code .send.disabled {
  background-color: #ccc;
}

/* line 192, ../../scss/_global.scss */
.leaf-popup-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 197, ../../scss/_global.scss */
.leaf-select-popup .leaf-popup {
  padding-left: 12.22%;
  padding-right: 12.22%;
}
/* line 201, ../../scss/_global.scss */
.leaf-select-popup .list {
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
}
/* line 205, ../../scss/_global.scss */
.leaf-select-popup .item {
  padding-left: 5px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
/* line 209, ../../scss/_global.scss */
.leaf-select-popup .item.checked {
  border-color: #3fac6e;
  color: #3fac6e;
}
/* line 213, ../../scss/_global.scss */
.leaf-select-popup .item .iconfont-dagou {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  line-height: 1;
}

/* line 223, ../../scss/_global.scss */
.ptwx-message-popup .leaf-popup-inner {
  border-radius: 12px;
}
/* line 226, ../../scss/_global.scss */
.ptwx-message-popup .leaf-popup-content {
  padding: .9rem 0;
  text-align: center;
  font-size: .65rem;
}
/* line 230, ../../scss/_global.scss */
.ptwx-message-popup .leaf-popup-content .title {
  font-size: .85rem;
  margin-bottom: .5rem;
}
/* line 235, ../../scss/_global.scss */
.ptwx-message-popup .leaf-popup-footer {
  border-top: 1px solid #ccc;
  text-align: center;
  line-height: 2.2rem;
  color: #3fab6d;
  font-size: .85rem;
}
/* line 241, ../../scss/_global.scss */
.ptwx-message-popup .leaf-popup-footer span {
  display: block;
}

/* line 248, ../../scss/_global.scss */
.swiper-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fcfbfb;
  opacity: 1;
}
/* line 254, ../../scss/_global.scss */
.swiper-container .swiper-pagination-bullet-active {
  background-color: #3fac6e;
}

/* line 259, ../../scss/_global.scss */
.page-block {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  display: block;
}
/* line 264, ../../scss/_global.scss */
.page-block .title-bar {
  line-height: 1.8rem;
  font-size: .6rem;
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 .4rem;
}
/* line 270, ../../scss/_global.scss */
.page-block .title-bar .iconfont {
  font-size: 1rem;
  margin-right: .4rem;
  vertical-align: top;
}
/* line 275, ../../scss/_global.scss */
.page-block .title-bar .more {
  color: #999;
  text-decoration: none;
}
/* line 280, ../../scss/_global.scss */
.page-block .block-content {
  padding: .4rem;
}

/* line 285, ../../scss/_global.scss */
leaf-footer {
  height: 2.5rem;
}
/* line 288, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper nav {
  width: 100%;
  display: table;
}
/* line 292, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper a {
  display: table-cell;
  width: 20%;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;
  height: 2.5rem;
}
/* line 300, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper a.current {
  background-color: #3fac6e;
}
/* line 304, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper .fa {
  font-size: 1.4rem;
  margin-top: .2rem;
}
/* line 308, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper .text {
  display: block;
  font-size: .5rem;
}

/* line 315, ../../scss/_global.scss */
.has-footer leaf-content {
  bottom: 2.5rem;
}

/* line 319, ../../scss/_global.scss */
.list {
  padding-left: 0;
  margin: 0;
}
/* line 322, ../../scss/_global.scss */
.list li {
  list-style-type: none;
}

/* line 327, ../../scss/_global.scss */
.tabs {
  display: table;
  width: 100%;
  text-align: center;
}
/* line 331, ../../scss/_global.scss */
.tabs a {
  width: 6rem;
  display: table-cell;
  font-size: .7rem;
  color: #3fac6e;
  padding: .33rem 0;
  text-decoration: none;
}
/* line 338, ../../scss/_global.scss */
.tabs a.current span {
  background-color: #3fac6e;
  color: #fff;
  border-radius: 2px;
}
/* line 344, ../../scss/_global.scss */
.tabs span {
  display: block;
  width: 4.6rem;
  line-height: 1.6rem;
  margin: 0 auto;
}

/* line 352, ../../scss/_global.scss */
.editable-item {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 357, ../../scss/_global.scss */
.editable-item .cell {
  display: table-cell;
  vertical-align: middle;
  color: #333;
}
/* line 361, ../../scss/_global.scss */
.editable-item .cell:last-child {
  text-align: right;
  color: #999;
}
/* line 366, ../../scss/_global.scss */
.editable-item .text {
  vertical-align: middle;
}
/* line 369, ../../scss/_global.scss */
.editable-item .fa, .editable-item .iconfont {
  margin-left: .6rem;
  color: #ccc;
  font-size: 1.12rem;
}

/* line 376, ../../scss/_global.scss */
.ptwx-normal-header {
  background-color: #3fab6d;
  height: 2.6rem;
}
/* line 379, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper {
  line-height: 2.6rem;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: .9rem;
  color: #fff;
}
/* line 386, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper .fa-angle-left {
  font-size: 1.5rem;
  margin-right: .4rem;
}
/* line 390, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper .text {
  vertical-align: middle;
}
/* line 393, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 396, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper > *:first-child {
  padding-left: .4rem;
  width: 3.4rem;
}
/* line 400, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper > *:nth-child(2) {
  text-align: center;
  font-weight: bold;
}
/* line 404, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper > *:last-child {
  padding-right: .8rem;
  text-align: right;
  width: 2rem;
}
/* line 410, ../../scss/_global.scss */
.ptwx-normal-header .leaf-header-wrapper input[type="search"] {
  width: 10.8rem;
  line-height: 1.6rem;
  height: 1.6rem;
}

/* line 419, ../../scss/_global.scss */
.has-header .ptwx-normal-header + leaf-content {
  top: 2.6rem;
}

/* line 4, ../../scss/home.scss */
leaf-header {
  height: 2.4rem;
}

/* line 8, ../../scss/home.scss */
.has-header leaf-content {
  top: 2.4rem;
}

/* line 12, ../../scss/home.scss */
.leaf-header-wrapper {
  background-color: #3fac6e;
  padding: 0.5rem 2.25rem;
  position: relative;
  text-align: center;
}
/* line 17, ../../scss/home.scss */
.leaf-header-wrapper input {
  line-height: 1.4rem;
  height: 1.4rem;
  font-size: 0.65rem;
  border: 1px solid #36915d;
  border-radius: .2rem;
  width: 100%;
  box-sizing: border-box;
}
/* line 26, ../../scss/home.scss */
.leaf-header-wrapper .fa {
  font-size: 1.4rem;
  color: #fff;
  width: 12%;
  position: absolute;
  top: .5rem;
}
/* line 33, ../../scss/home.scss */
.leaf-header-wrapper .fa-user {
  left: 0;
}
/* line 36, ../../scss/home.scss */
.leaf-header-wrapper .fa-envelope {
  right: 0;
}

/* line 41, ../../scss/home.scss */
#homeSlider img {
  width: 18rem;
  max-height: 6rem;
}

/* line 46, ../../scss/home.scss */
.nav {
  display: table;
  width: 100%;
  text-align: center;
  margin-top: 0;
  padding: 0 0 .5rem;
}
/* line 52, ../../scss/home.scss */
.nav li {
  display: table-cell;
  width: 25%;
  list-style-type: none;
}
/* line 56, ../../scss/home.scss */
.nav li:nth-child(2) .circle {
  background-color: #fdb749;
}
/* line 59, ../../scss/home.scss */
.nav li:nth-child(3) .circle {
  background-color: #ff9143;
}
/* line 63, ../../scss/home.scss */
.nav li:last-child .circle {
  background-color: #5e8bf0;
}
/* line 68, ../../scss/home.scss */
.nav a {
  color: #8f8f8f;
  text-decoration: none;
  display: inline-block;
}
/* line 73, ../../scss/home.scss */
.nav .circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #8dda6f;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  margin: 0.5rem auto;
}
/* line 83, ../../scss/home.scss */
.nav .fa {
  color: #fff;
  font-size: 1.6rem;
}

/* line 91, ../../scss/home.scss */
.product-list .title-bar .iconfont-new {
  color: #5dc066;
  font-size: 1.2rem;
}
/* line 95, ../../scss/home.scss */
.product-list .title-bar .iconfont-hot {
  color: #f6aa17;
  margin-right: .2rem;
}
/* line 20, ../../scss/bourbon/addons/_clearfix.scss */
.product-list .block-content::after {
  clear: both;
  content: "";
  display: table;
}
/* line 103, ../../scss/home.scss */
.product-list .product-block {
  width: 8.4rem;
  padding: 0.2rem;
  border: 1px solid #e5e5e5;
  float: left;
  box-sizing: border-box;
}
/* line 109, ../../scss/home.scss */
.product-list .product-block:first-child {
  margin-right: .4rem;
}
/* line 113, ../../scss/home.scss */
.product-list img {
  width: 8rem;
}
/* line 116, ../../scss/home.scss */
.product-list .price {
  font-size: .65rem;
  color: #f55645;
}
/* line 120, ../../scss/home.scss */
.product-list .product-title {
  font-size: .5rem;
  line-height: 1.2;
}

/* line 127, ../../scss/home.scss */
leaf-sidebar .leaf-sidebar-wrapper {
  width: 15rem;
}
/* line 130, ../../scss/home.scss */
leaf-sidebar h2 {
  padding: 4.2rem 0 1.9rem 1.4rem;
  font-size: 1.05rem;
  color: #3eac6f;
  margin: 0;
}
/* line 136, ../../scss/home.scss */
leaf-sidebar a {
  color: #333;
  text-decoration: none;
}
/* line 140, ../../scss/home.scss */
leaf-sidebar .list {
  font-size: .8rem;
  padding: 0 .4rem;
}
/* line 143, ../../scss/home.scss */
leaf-sidebar .list li {
  padding-left: 1rem;
  border-bottom: 1px solid #ccc;
  line-height: 2.5rem;
}
/* line 147, ../../scss/home.scss */
leaf-sidebar .list li:first-child {
  border-top: 1px solid #ccc;
}
/* line 151, ../../scss/home.scss */
leaf-sidebar .list span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
/* line 157, ../../scss/home.scss */
leaf-sidebar .fa {
  color: #3eac6f;
  margin-right: .6rem;
}
/* line 161, ../../scss/home.scss */
leaf-sidebar .github {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 2.5rem;
  font-size: .8rem;
  padding: 0 .4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 171, ../../scss/home.scss */
leaf-sidebar .github a {
  display: block;
  padding-left: 1rem;
  border-top: 1px solid #ccc;
}
