/*@import 'partials/iconfont';*/
/*$icon-sprite-dimensions: true; // generate dimension when compass compile sprite*/
/*@import 'partials/icon';*/
/* line 7, ../../scss/_global.scss */
html {
  font-size: 40px;
}

/* line 11, ../../scss/_global.scss */
body {
  color: #333;
  font-size: 0.6rem;
  line-height: 1;
  margin: 0;
  background-color: #f5f5f5;
  font-family: "SimHei";
}

/* line 20, ../../scss/_global.scss */
a {
  text-decoration: none;
}

/* line 24, ../../scss/_global.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
}

/* line 30, ../../scss/_global.scss */
.icon-circle-check {
  display: inline-block;
  width: .8rem;
  height: .8rem;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
}
/* line 37, ../../scss/_global.scss */
.icon-circle-check.checked:after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  left: .15rem;
  top: .15rem;
}

/* line 49, ../../scss/_global.scss */
.btn {
  border: none;
  font-size: 0.85rem;
  color: #fff;
  line-height: 2.2rem;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border-radius: 4px;
  text-decoration: none;
}
/* line 59, ../../scss/_global.scss */
.btn.btn-green {
  background-color: #3fac6e;
}
/* line 62, ../../scss/_global.scss */
.btn.btn-danger {
  background-color: #e52518;
}
/* line 65, ../../scss/_global.scss */
.btn.btn-orange {
  background-color: #ff6529;
}
/* line 68, ../../scss/_global.scss */
.btn.btn-grey {
  background-color: #f8dfc3;
  color: #9d8e7c;
}

/* line 74, ../../scss/_global.scss */
.flr {
  float: right;
}

/* line 78, ../../scss/_global.scss */
.img {
  text-align: center;
}
/* line 80, ../../scss/_global.scss */
.img img {
  max-width: 100%;
  max-height: 100%;
}

/* line 86, ../../scss/_global.scss */
span.text {
  vertical-align: middle;
}

/* line 90, ../../scss/_global.scss */
input[type="text"], input[type="number"], input[type="password"],
input[type="tel"], input[type="search"] {
  padding-left: 0.3rem;
  color: #333;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder, input[type="search"]::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder, input[type="search"]:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
input[type="text"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder {
  color: #999;
}

/* line 99, ../../scss/_global.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 105, ../../scss/_global.scss */
textarea {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  padding-left: .3rem;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
textarea:-ms-input-placeholder {
  color: #999;
}

/* line 116, ../../scss/_global.scss */
.form .field {
  margin-bottom: 0.45rem;
  font-size: 0.75rem;
}
/* line 120, ../../scss/_global.scss */
.form input[type="text"], .form input[type="number"], .form input[type="password"], .form input[type="tel"], .form input[type="search"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  height: 2.2rem;
  line-height: 2.2rem;
  font-size: 0.75rem;
  padding-left: 0.6rem;
}
/* line 129, ../../scss/_global.scss */
.form .leaf-select-wrapper {
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 0 .6rem;
  border: 1px solid #ccc;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #333;
  font-size: 0.75rem;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
}
/* line 144, ../../scss/_global.scss */
.form .leaf-select-wrapper:after {
  content: "\f0d7";
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: .6rem;
  top: 0;
  font-size: 1.4rem;
  line-height: inherit;
  color: #999;
}
/* line 160, ../../scss/_global.scss */
.form textarea {
  resize: none;
  border: 1px solid #ccc;
  padding: 0.6rem;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea::-webkit-input-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea::-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea:-moz-placeholder {
  color: #999;
}
/* line 4, ../../scss/bourbon/css3/_placeholder.scss */
.form textarea:-ms-input-placeholder {
  color: #999;
}
/* line 20, ../../scss/bourbon/addons/_clearfix.scss */
.form .code::after {
  clear: both;
  content: "";
  display: table;
}
/* line 173, ../../scss/_global.scss */
.form .code input {
  width: 40.9884%;
  float: left;
}
/* line 177, ../../scss/_global.scss */
.form .code .send {
  width: 54.5058%;
  float: right;
  background-color: #666;
  text-align: center;
  height: 2.2rem;
  line-height: 2.2rem;
  color: #fff;
}
/* line 185, ../../scss/_global.scss */
.form .code .send.disabled {
  background-color: #ccc;
}

/* line 193, ../../scss/_global.scss */
.leaf-select-popup .leaf-popup {
  padding-left: 12.22%;
  padding-right: 12.22%;
}
/* line 197, ../../scss/_global.scss */
.leaf-select-popup .list {
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
}
/* line 201, ../../scss/_global.scss */
.leaf-select-popup .item {
  padding-left: 5px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
/* line 205, ../../scss/_global.scss */
.leaf-select-popup .item.checked {
  border-color: #3fac6e;
  color: #3fac6e;
}
/* line 209, ../../scss/_global.scss */
.leaf-select-popup .item .iconfont-dagou {
  position: absolute;
  right: 0;
  font-size: 1.25rem;
  line-height: 1;
}

/* line 219, ../../scss/_global.scss */
.demo-message-popup .leaf-popup-inner {
  border-radius: 12px;
}
/* line 222, ../../scss/_global.scss */
.demo-message-popup .leaf-popup-content {
  padding: .9rem 0;
  text-align: center;
  font-size: .65rem;
}
/* line 226, ../../scss/_global.scss */
.demo-message-popup .leaf-popup-content .title {
  font-size: .85rem;
  margin-bottom: .5rem;
}
/* line 231, ../../scss/_global.scss */
.demo-message-popup .leaf-popup-footer {
  border-top: 1px solid #ccc;
  text-align: center;
  line-height: 2.2rem;
  color: #3fab6d;
  font-size: .85rem;
}
/* line 237, ../../scss/_global.scss */
.demo-message-popup .leaf-popup-footer span {
  display: block;
}

/* line 244, ../../scss/_global.scss */
.swiper-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fcfbfb;
  opacity: 1;
}
/* line 250, ../../scss/_global.scss */
.swiper-container .swiper-pagination-bullet-active {
  background-color: #3fac6e;
}

/* line 255, ../../scss/_global.scss */
.page-block {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  display: block;
}
/* line 260, ../../scss/_global.scss */
.page-block .title-bar {
  line-height: 1.8rem;
  font-size: .6rem;
  color: #666;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 .4rem;
}
/* line 266, ../../scss/_global.scss */
.page-block .title-bar .iconfont {
  font-size: 1rem;
  margin-right: .4rem;
  vertical-align: top;
}
/* line 271, ../../scss/_global.scss */
.page-block .title-bar .more {
  color: #999;
  text-decoration: none;
}
/* line 276, ../../scss/_global.scss */
.page-block .block-content {
  padding: .4rem;
}

/* line 281, ../../scss/_global.scss */
leaf-footer {
  height: 2.5rem;
}
/* line 284, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper nav {
  width: 100%;
  display: table;
}
/* line 288, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper a {
  display: table-cell;
  width: 20%;
  background-color: #ae1608;
  color: #fff;
  text-decoration: none;
  text-align: center;
  height: 2.5rem;
}
/* line 296, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper a.current {
  background-color: #f86112;
}
/* line 300, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper .fa {
  font-size: 1.4rem;
  margin-top: .2rem;
}
/* line 304, ../../scss/_global.scss */
leaf-footer .leaf-footer-wrapper .text {
  display: block;
  font-size: .5rem;
}

/* line 311, ../../scss/_global.scss */
.has-footer leaf-content {
  bottom: 2.5rem;
}

/* line 315, ../../scss/_global.scss */
.list {
  padding-left: 0;
  margin: 0;
}
/* line 318, ../../scss/_global.scss */
.list li {
  list-style-type: none;
}

/* line 323, ../../scss/_global.scss */
.tabs {
  display: table;
  width: 100%;
  text-align: center;
}
/* line 327, ../../scss/_global.scss */
.tabs a {
  width: 6rem;
  display: table-cell;
  font-size: .7rem;
  color: #3fac6e;
  padding: .33rem 0;
  text-decoration: none;
}
/* line 334, ../../scss/_global.scss */
.tabs a.current span {
  background-color: #3fac6e;
  color: #fff;
  border-radius: 2px;
}
/* line 340, ../../scss/_global.scss */
.tabs span {
  display: block;
  width: 4.6rem;
  line-height: 1.6rem;
  margin: 0 auto;
}

/* line 348, ../../scss/_global.scss */
.editable-item {
  display: table;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 353, ../../scss/_global.scss */
.editable-item .cell {
  display: table-cell;
  vertical-align: middle;
  color: #333;
}
/* line 357, ../../scss/_global.scss */
.editable-item .cell:last-child {
  text-align: right;
  color: #999;
}
/* line 362, ../../scss/_global.scss */
.editable-item .text {
  vertical-align: middle;
}
/* line 365, ../../scss/_global.scss */
.editable-item .fa, .editable-item .iconfont {
  margin-left: .6rem;
  color: #ccc;
  font-size: 1.12rem;
}

/* line 372, ../../scss/_global.scss */
.demo-normal-header {
  background-color: #3fab6d;
  height: 2.6rem;
}
/* line 375, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper {
  line-height: 2.6rem;
  display: table;
  table-layout: fixed;
  width: 100%;
  font-size: .9rem;
  color: #fff;
}
/* line 382, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper .fa-angle-left {
  font-size: 1.5rem;
  margin-right: .4rem;
}
/* line 386, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper .text {
  vertical-align: middle;
}
/* line 389, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper > * {
  display: table-cell;
  vertical-align: middle;
}
/* line 392, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper > *:first-child {
  padding-left: .4rem;
  width: 3.4rem;
}
/* line 396, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper > *:nth-child(2) {
  text-align: center;
  font-weight: bold;
}
/* line 400, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper > *:last-child {
  padding-right: .8rem;
  text-align: right;
  width: 2rem;
}
/* line 406, ../../scss/_global.scss */
.demo-normal-header .leaf-header-wrapper input[type="search"] {
  width: 10.8rem;
  line-height: 1.6rem;
  height: 1.6rem;
}

/* line 415, ../../scss/_global.scss */
.has-header .demo-normal-header + leaf-content {
  top: 2.6rem;
}

/* line 4, ../../scss/register.scss */
.wrapper {
  padding: 18px 0;
  width: 95.5556%;
  margin: 0 auto;
}

/* line 10, ../../scss/register.scss */
.step1 {
  padding-left: 0;
}
/* line 12, ../../scss/register.scss */
.step1 li {
  list-style-type: none;
  line-height: 2.15rem;
  height: 2.15rem;
  border: 1px solid #ccc;
  padding: 0 40px 0 30px;
  position: relative;
  font-size: 0.85rem;
  color: #333;
  box-sizing: border-box;
  margin-bottom: 0.55rem;
}
/* line 23, ../../scss/register.scss */
.step1 li .iconfont {
  color: #ccc;
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
  font-size: 1.5rem;
}
/* line 31, ../../scss/register.scss */
.step1 li.selected {
  border-color: #3fac6e;
}
/* line 33, ../../scss/register.scss */
.step1 li.selected .iconfont {
  color: #3fac6e;
}
/* line 38, ../../scss/register.scss */
.step1 .next {
  color: #fff;
}

/* line 43, ../../scss/register.scss */
.next, .register-btn {
  width: 100%;
  margin-top: 1.25rem;
}

/* line 49, ../../scss/register.scss */
.step1 .next, .step1 .register-btn {
  margin-top: 2.75rem;
}

/* line 55, ../../scss/register.scss */
.step2-2 input[type="text"] {
  border-top: none;
}
/* line 58, ../../scss/register.scss */
.step2-2 .locate {
  margin-top: 1rem;
}
/* line 20, ../../scss/bourbon/addons/_clearfix.scss */
.step2-2 .locate::after {
  clear: both;
  content: "";
  display: table;
}
/* line 61, ../../scss/register.scss */
.step2-2 .locate leaf-select {
  float: left;
  width: 39.8256%;
}
/* line 64, ../../scss/register.scss */
.step2-2 .locate leaf-select:last-child {
  width: 60.1744%;
}
/* line 66, ../../scss/register.scss */
.step2-2 .locate leaf-select:last-child .leaf-select-wrapper {
  border-left: none;
}
/* line 72, ../../scss/register.scss */
.step2-2 textarea {
  height: 3.6rem;
}
